
html {

	background-image: url(cal3.jpg) ;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover; 
	color: black;
	font-size: 22px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
	
